apiVersion: apps/v1
kind: Deployment
metadata:
  name: cve-2019-16662 
  labels:
    app: rconfig
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rconfig
  template:
    metadata:
      labels:
        app: rconfig
    spec:
      containers:
      - name: rconfig
        image: vulfocus/rconfig-cve_2019_16662:latest
        ports:
        - containerPort: 8080
